<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
 </head> 
 	{{> _navbar}}
   {{> _error}}
   {{> _success}}
  <body> 
  	<div class = "container">
  		{{{body}}}
  	</div>
  	
    
  </body>
  
    <style type="text/css">
        html, body {
            height: 100%;
            margin: 0;
        }

        #wrapper {
            min-height: 100%; 
        }
    </style>


</html>
