<hr/> 


<div class="jumbotron">
  <h1 class="display-4">Breadboard</h1>
  <p class="lead">A Powerful web platform to manage your IoT applications </p>
  <hr class="my-4">
  <p>Out of Box seamless communication and out of Box rule engines for yout IoT devices </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Join us</a>
</div>
