<hr> 

<div class="card">
  <div class="card-header">
  {{ data.name }} 
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ data.email }} </h5>
    <p class="card-text">Registered at : {{ data.created_at }} </p>
  </div>
</div>
